
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Service</h2>*@
<div class="">
    <div class="row title mx-0 mt-3 pt-4" id="no1">
        <div class="col-12">
            <h1>Warranty Policy</h1>
        </div>
        <div class="list-group col-4 ">
            <div class="list-group col">
                <a href="#sp-1" title="" class="list-group-item list-group-item-action active" data-toggle="list">What is warranted</a>
                <a href="#sp-2" title="" class="list-group-item list-group-item-action" data-toggle="list">What is not covered</a>
                <a href="#sp-3" title="" class="list-group-item list-group-item-action" data-toggle="list">Responsibility for vehicle owners</a>
                <a href="#sp-4" title="" class="list-group-item list-group-item-action" data-toggle="list">Necessary information</a>
            </div>

        </div>
        <!-- --content--	 -->
        <div class="col-8 mb-5">
            <div class="tab-content">
                <div class="tab-pane active" id="sp-1">
                    <h4>1. Warranty period</h4>

                    <p>
                        Warranty starts from the moment the car is delivered to the first car owner. Within 36 months or 100,000 km, whichever comes first, AutoWorld guarantees to repair or replace any new damaged AutoWorld vehicle parts.<br>
                        - Battery warranty: The warranty period for the battery is 12 months or 20,000 km whichever comes first.<br>
                        - Warranty for hybrid battery: The warranty period for hybrid battery is 36 months or 100,000 km, whichever comes first.<br>
                        - Tire warranty: Tire warranty: Warranty according to the tire manufacturer's own regime. For more details, please refer to the following websites: Bridgestone , Dunlop , Michelin .
                    </p>

                    <h4>2. Warranty conditions</h4>
                    <p>
                        AutoWorld only guarantees repairing, replacing parts of new AutoWorld vehicles that are damaged in the following conditions:<br>
                        - Vehicle operating in normal conditions<br>
                        - Raw materials is not good<br>
                        - Assembly error<br>
                        - Except for the conditions stated in item WHAT IS NOT WARRANTY<br>
                        Note: The warranty is still applicable when the vehicle is transferred to other owners.
                    </p>

                    <h4>3. Scope of warranty</h4>
                    <p>The warranty is only applicable within the Socialist Republic of Vietnam.</p>

                    <h4>4. Free Warranty</h4>
                    <p>All repair under warranty (spare parts, labor) is free of charge.</p>


                </div>
                <div class="tab-pane" id="sp-2">
                    <h4>1. Factors beyond the manufacturer's control</h4>
                    <p>
                        - Modifications or modifications due to misuse (racing, overloading), negligence, arbitrary modification, modification, connection, disassembly, improper correction, accident, self Note to install spare parts / accessories, not covered by the warranty.<br>
                        - Corrosion due to cosmetic chemistry or corrosion on the vehicle's surface due to being shot or scratched by paint is not warranted.<br>
                        Environmental damage or corrosion such as acid rain, chemicals, resins, salt, hail, storms, lightning, flooding and other natural impacts is not covered.
                    </p>

                    <h4>2. Do not maintain the vehicle using the wrong materials, lubricating oil</h4>
                    <p>Repair and adjustment due to improper vehicle maintenance, no maintenance or use of fuel or lubricating oil other than those stated in the "User's Guide" are not covered under warranty.</p>

                    <h4>3. Maintenance costs are the responsibility of the vehicle owner</h4>
                    <p>Engine tuning, lubricating oil change, car wash, polishing, bulb replacement, coolant, electrolyte solution, air conditioner, fuel, oils, additives, spark plugs, fuses, bulbs (other than halogen bulbs, HID bulbs, monocoque balls), drive belts (except cam belts), wiper rubber, brake pads, worn clutch discs are regular maintenance required for all vehicles. The above maintenance items are not covered under warranty.</p>

                    <h4>4. Normal noise, car vibration, natural value reduction</h4>
                    <p>Normal noises, vehicle vibrations, corrosion or natural deterioration such as discoloration, deformation, defects, are not warranted.</p>

                    <h4>5. Change the odometer</h4>
                    <p>Any damage to the vehicle that has been changed or the odometer has been adjusted resulting in an inaccurate measurement not covered is covered under warranty.</p>

                    <h4>6. Additional costs</h4>
                    <p>Additional damages or consequences such as phone calls, lost time, missed jobs or commercial damage are not covered by the warranty.</p>


                </div>
                <div class="tab-pane" id="sp-3">
                    <h4>1. Bring the car to warranty</h4>
                    <p>It is your responsibility to take your vehicle to any authorized AutoWorld Warranty and Service Agent / Station in Vietnam for warranty purposes.</p>


                    <h4>2. Vehicle maintenance</h4>
                    <p>
                        The owner is responsible for using the vehicle and maintaining the vehicle in a reasonable manner and taking care of the vehicle according to the instructions in the "User's Guide".<br>
                        If your vehicle is used in harsh conditions, you must pay more attention to maintain the vehicle as required in the "User's Guide".
                    </p>


                    <h4>3. Record maintenance times</h4>
                    <p>It is your responsibility to record all vehicle maintenance. This is necessary because in some cases it proves that you have maintained the vehicle as required.</p>




                </div>
                <div class="tab-pane" id="sp-4">
                    <h4>1. Where to get warranty service</h4>
                    <p>The authorized dealer / service station of AutoWorld will be the place to perform necessary repairs, use new or recycled parts for customers' vehicles. warranty mode. To get the best care and keep your vehicle tracked into a process, AutoWorld recommends you go back to the Dealer / Service Station that sold your car.</p>

                    <h4>2. Traveling / Moving to another country</h4>
                    <p>If you are traveling or moving to another country and a vehicle breakdown occurs, please contact your local AutoWorld Dealer. Please note, however, that warranty service may not be provided by your local Dealer, as your AutoWorld vehicle may not comply with the local environmental regulations or requirements. .</p>

                    <h4>3. The necessary information</h4>
                    <p>
                        In the event of a failure, prepare the following information:<br>
                        - Accurate description of failures including operating conditions.<br>
                        - Model and year of manufacture.<br>
                        - Vehicle identification number (VIN)<br>
                        - Current odometer measurements.<br>
                        - Date of purchase.<br>
                        - Dealer / warranty service station to sell and perform services.<br>
                        - Statistics of customers' car service progress.
                    </p>

                    <h4>4. How to get help</h4>
                    <p class="font-italic">Step 1: Contact your AutoWorld Dealership / Service Station</p>
                    <p>
                        - This is the most direct way to solve your problems. All AutoWorld Warranty Dealers / Service Stations in Vietnam are ultimately responsible legal entities for providing the services and repairs you need. First, contact the Agent / Service Station Manager of Service or with the customer relations officer. Full explanation of the malfunction.<br>
                        - If you find that the problem is not resolved, tell your Dealer Manager who is most concerned with your satisfaction and accessibility.<br>
                        - If your AutoWorld dealer cannot provide a solution ...<br>
                    <p class="font-italic">Step 2: Contact AutoWorld Motor Vietnam</p>
                    <p>Contact AutoWorld through AutoWorld's service department as shown on the Warranty Registration Form.</p>



                </div>

            </div>

        </div>
        <!-- --/content--	 -->

    </div>
    <!-- --/title1-- -->
    <!-- --title2-- -->
    <div class="row title mx-0 pt-4" id="no2">
        <div class="col-12">
            <h1>Maintenance service</h1>
        </div>
        <div class="list-group col-4 ">
            <div class="list-group col">
                <a href="#sp-5" title="" class="list-group-item list-group-item-action active" data-toggle="list">Quick maintenance</a>
                <a href="#sp-6" title="" class="list-group-item list-group-item-action" data-toggle="list">Periodic maintenance</a>
                <a href="#sp-7" title="" class="list-group-item list-group-item-action" data-toggle="list">Make an appointment</a>
            </div>

        </div>
        <!-- --content--	 -->
        <div class="col-8 mb-5">
            <div class="tab-content">
                <div class="tab-pane active" id="sp-5">
                    <h4>Quick maintenance</h4>

                    <p>
                        Quick maintenance program (Quick Service) is deployed synchronously throughout the system of dealers with service workshops of AutoWorld. With the investment in modern equipment and dedicated one area for quick maintenance, AutoWorld car maintenance activities will be shortened and improved post-maintenance quality.<br>
                        Benefits of quick maintenance:<br>
                        -  Reduce maintenance costs<br>
                        -  Increase the initiative in arranging work of customers before and after maintenance <br>
                        -  Create optimal customer satisfaction.
                    </p>



                </div>
                <div class="tab-pane" id="sp-6">
                    <h4>Periodic maintenance</h4>
                    <p>
                        AutoWorld recommends that customers maintain their car periodically. Because during the operation, the engine / machine parts are worn out over time and during exposure to many different environments. Periodic maintenance is aimed at ensuring stable operation of the car, improving vehicle's longevity and increasing safety for both the driver and dear passenger.<br>
                        Periodic maintenance with many levels: maintenance periodically by month or by km that the vehicle has traveled.<br>
                        AutoWorld provides time frames to periodically maintain the car:<br>
                        -  Level 1: 1,000 km; 5,000 km; 15,000km; ...<br>
                        -  Level 2: 10,000 km; 30,000 km; ...<br>
                        -  Level 3: 20,000 km; 60,000 km; ...<br>
                        -  Level 4: 40,000 km; 80,000 km; ...<br>
                        For each level, your car will be cared for in different parts to ensure safe operation for customers.
                    </p>


                </div>
                <div class="tab-pane" id="sp-7">
                    <h4>Make an appointment</h4>
                    <p>Registering an appointment for service is one of the 6 steps of the customer care service process that AutoWorld is applying to bring convenience to customers, ensure service quality and above all, customer satisfaction.</p>

                    <h4>Benefits of booking an appointment:</h4>

                    <p>
                        - Customers are provided with convenient appointment time for service.<br>
                        - When customers bring their car according to the scheduled appointment, they will be maintained and repaired on time without having to wait.<br>
                        - The service advisor will have more time to check the vehicle and advise the customer on maintenance and repair contents.<br>
                        - Spare parts will be prepared according to pre-ordered needs without having to wait for spare parts<br>

                        To make AutoWorld better service, please make an appointment before doing the service according to the registration form below
                    </p>
                    <h4>Make an appointment with us</h4>
                    <form action="success.html">
                        <div class="form-row mb-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Full name(*)" required>
                            </div>
                            <div class="col">
                                <input type="address" class="form-control" placeholder="Address:" required>
                            </div>
                        </div>
                        <div class="form-row mb-1">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Phone number(*)" required>
                            </div>
                            <div class="form-group col">
                                <select name="car" class="form-control" required>
                                    <option value="" selected>-Please choose the car which you like-</option>
                                    <option value="">Toyota</option>
                                    <option value="">Audi</option>
                                    <option value="">Mercedes</option>
                                    <option value="">Honda</option>
                                    <option value="">Yamaha</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-6">
                                <select name="service" class="form-control" required>
                                    <option value="" selected>-Please choose service-</option>
                                    <option value="">AutoWorld Membership</option>
                                    <option value="">Finance Support</option>
                                    <option value="">Make An Appointment</option>
                                    <option value="">Maintenance And Repair</option>
                                    <option value="">Warranty Scope & Limitation</option>
                                    <option value="">Other service</option>
                                </select>
                            </div>
                            <input type="datetime-local" name="" class="form-control-sm col-6" value="2020-10-19T13:45:00" id="time" required>
                        </div>
                        <button type="submit" class="btn btn-primary col-4" id="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- --/content--	 -->

    </div>
    <!-- --title2-- -->
    <!-- --title3-- -->
    <div class="row title mx-0 pt-4" id="no3">
        <div class="col-12">
            <h1>Repair Services</h1>
        </div>
        <div class="list-group col-4 ">
            <div class="list-group col">
                <a href="#sp-8" title="" class="list-group-item list-group-item-action active" data-toggle="list">Car body repair</a>
                <a href="#sp-9" title="" class="list-group-item list-group-item-action" data-toggle="list">General repair</a>
            </div>

        </div>
        <!-- --content--	 -->
        <div class="col-8 mb-5">
            <div class="tab-content">
                <div class="tab-pane active" id="sp-8">
                    <h4>Car body repair</h4>

                    <p>In addition to maintenance and repair services for unusual phenomena on the car, Toyota also provides repair services for the collision damage your vehicle experiences during use. That service is called Bodywork and Paint Repair.<p>

                    <p>With global standard repair techniques, high quality equipment and supplies (designated by AutoWorld), AutoWorld Dealers will restore the shape and appearance of the paint on the vehicle. to your original condition.</p>

                    <p>Bodywork repair and painting process</p>
                    <div class="row">
                        <div class="col-4 p-1">
                            <img src="~/Content/UserContent/images/services/se-1.jpg" alt="" class=" w-100">
                            <p class="text-center">1.Manipulate</p>
                        </div>
                        <div class="col-4 p-1">
                            <img src="~/Content/UserContent/images/services/se-2.jpg" alt="" class="w-100">
                            <p class="text-center">2.Sheet metal</p>
                        </div>
                        <div class="col-4 p-1">
                            <img src="~/Content/UserContent/images/services/se-3.jpg" alt="" class="w-100 ">
                            <p class="text-center">3.Baits mastic</p>
                        </div>
                        <div class="col-4 p-1">
                            <img src="~/Content/UserContent/images/services/se-4.jpg" alt="" class="w-100">
                            <p class="text-center">4.Paint primer</p>
                        </div>
                        <div class="col-4 p-1">
                            <img src="~/Content/UserContent/images/services/se-5.jpg" alt="" class="w-100">
                            <p class="text-center">5.Paint color</p>
                        </div>
                        <div class="col-4 p-1">
                            <img src="~/Content/UserContent/images/services/se-6.jpg" alt="" class="w-100 ">
                            <p class="text-center">6.Polish</p>
                        </div>
                    </div>

                    <p>In addition, in order to ensure quality and shorten repair time, we build and apply a quality management process in each stage, a 4-hour scratch repair process ... to constantly bring to customer satisfaction with Toyota Body and Paint repair service.<p>


                    <p>For detailed advice on repair content, please contact genuine Toyota dealers nationwide.</p>

                </div>
                <div class="tab-pane" id="sp-9">
                    <h4>General repair</h4>
                    <p>
                        Proud to be a market leader in after-sales service for many consecutive years and highly appreciated by customers in always pioneering new technologies as well as implementing after-sales programs. AutoWorld is constantly striving to win the trust of customers through specific activities.<br>
                        <img src="~/Content/UserContent/images/services/se-7.jpg" alt="" class="w-100">

                        <h4>Modern facilities and equipment according to AutoWorld standards</h4>
                    <p>Genuine AutoWorld dealers are built with modern facilities, equipped with specialized facilities and equipment. Specially dedicated to the maintenance and repair of AutoWorld vehicles with the highest quality and in the shortest possible time.<p>
                        <img src="~/Content/UserContent/images/services/se-8.jpg" alt="" class="w-100">

                        <h4>Professional human resources</h4>
                    <p>With a team of CVDVs and technicians trained in knowledge and skills according to AutoWorld's Professional and Professional Training (TEAM) system, customers will be completely assured when the car cared for at genuine AutoWorld Dealers.<p>
                        <img src="~/Content/UserContent/images/services/se-9.jpg" alt="" class="w-100">

                        <h4>Business process services standards</h4>
                    <p>The AutoWorld dealer will apply a service operational processes global standards, customer-centered. In particular, the service process is carried out from prompting & inviting customers to take the car to do maintenance, to preparation, customer reception, repair, delivery and post-repair contact.<p>


                        <h4>Genuine spare parts</h4>
                    <p>
                        All genuine parts for maintenance and repair, imported from Thailand, Japan and other countries in the region, are always ready to meet customers' needs in the fastest and with good quality. Best.<br>
                        <img src="~/Content/UserContent/images/services/se-10.png" alt="" class="w-100 py-2">


                        With the goal of always improving and improving the quality of after-sales service, Toyota Vietnam and its dealers want to bring each customer who owns a AutoWorld car with the highest satisfaction.
                    </p>


                </div>


            </div>

        </div>
        <!-- --/content--	 -->

    </div>
</div>

@section servicecss {
    <link href="@Url.Content("~/Content/UserContent/css/services.css")" rel="stylesheet" type="text/css" />
}



