body{
	width: 100%;
	height: 100%;
	font-family: Century Gothic, Arial, sans-serif;
	font-size: 20px;
	color:#222;
	background-color: #f5f9fc;
}
/*---header---*/
.navbar{
	background-color: white!important;
	font-size: 1.25rem;
}
.navbar li a{
	color:black!important;
}
.navbar li a:hover{
	color:#B6292B!important;
}
#auto{
	color: #f70000;
	font-weight: bold;
	font-size: 1.8rem;
}
#world{
	color: #938e93;
	font-weight: bold;
	font-size: 1.8rem;
}
/*---/header---*/
/*--carousel--*/
#slides{
	width:100%;
}
.tt1 h1{
	font-size: 2.2rem;
}
#caption{
	color:black!important;
	font-size: 30px;
}
.carousel-inner img{
	width:100%;
}

.carousel-caption{
	position: absolute;
	/*width: 32%;
	bottom:0%;*/
	top: 0%;
	/*left: 5%;*/
	/*background-color:rgba(255,255,255,.75);
	color: black;*/
}
.slogan{
	font-size: 2.3rem;
	color: 	#ffdd00;
	text-shadow: 4px 4px 10px #000 !important;
	/*font-weight: bold;*/
	/*font-family: 'Garamond', sans-serif;*/
}
.carousel-caption h1{
	font-size: 3.6rem;
	text-shadow: 3px 3px 10px #000;
}
.carousel-caption p{
	/*font-size: 1.2rem;*/
	
}

.carousel-caption hr{
	width:90%;
}
/*--/carousel--*/

/*--list product--*/
.image {
    text-align: center;
    background-color: #f3eae5;
    padding-bottom: 20px;
    padding-top: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}
.image h4 {
    font-size: 1.2rem;
    /*font-weight: bold;*/
}
.image h5 {
    font-size: 0.9rem;
}
.product-grid2 img{
	min-height: 200px;

}
.buy{
	/*padding: 5px 40px;*/
	/*display: block;*/
	text-align: center;
	margin: 0px auto;
	/*background-color: #a79b94;
	border-color: #a79b94;*/

}
.buy:hover{

}
.product-grid1{
	padding: 7px;
}
.product-grid2{
	padding: 7px;
	min-height: 350px;
}

-/*-filter--*/
.container{
	overflow: hidden;
}
.filterOp{
	display:none;
}
.filterDiv {
  
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn1 {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #FFA07A; 
}

/* Add a light grey background on mouse-over */
.btn1:hover {
  background-color: #ddd;
  border-color: #ddd;
}
.advancedSearch .btn4{
/*	background-color: black !important;*/
color: white;
}


.welcome hr{
	border-top: 2px solid rgba(62,44,100,0.6);
	width: 95%;
	margin-bottom: 2rem;
}

.social a {
	font-size: 2em;/*1em = 16px*/
	padding: 2rem;/*1rem = 1 "font-size" */
}
.fa-facebook {
	color: #3b5998;
}
.fa-twitter {
	color: #00aced;	
}
.fa-google-plus-g {
	color: #dd4b39;
}
.fa-instagram {
	color: #517fa4;
}
.fa-youtube {
	color: #bb0000;
}
#contact{
	font-size: 1.8rem;
}
@media (max-width: 768px){
		.carousel-caption{
		width:100%;
		left: 0%;
		height:100%; 

	}
	.carousel-caption h1{
		font-size: 1rem;
		
	}
	.carousel-caption h3{
		font-size: 0.8rem;
	}
	.carousel-caption .btn{
		font-size: 95%;
		padding: 8px 14px;
	}
	/*.product-grid1 img{
	width:90%;
	}
*/
}

/*----footer---*/
footer {
    background-color: white;
}

.inf a{
	color:black;
	text-decoration: none;
	font-size: 1rem;
}
.inf a:hover{
	color: #B6292B;
}
.inf p{
	margin-bottom: 0px;
	font-size: 1rem;
}
.inf .input-group-append a:hover{
	color: white;
}
#privacy{
	background-color: black;
	font-size: 1rem;
}
#privacy a{
	color: hsla(0,0%,100%,.7);
	text-decoration: none;
}
#privacy a:hover{
	color:white;
	text-decoration: none;
}

.welcome hr{
	border-top: 2px solid rgba(62,44,100,0.6);
	width: 95%;
	margin-bottom: 2rem;
}
.social-media{
	background-color: #DCDCDC;
}
.social a {
	font-size: 2em;/*1em = 16px*/
	padding: 2rem;/*1rem = 1 "font-size" */
}

.social1 a {
	font-size: 2em;/*1em = 16px*/
	padding: 0.5rem;/*1rem = 1 "font-size" */
}
.fa-facebook {
	color: #3b5998;
}
.fa-twitter {
	color: #00aced;	
}
.fa-google-plus-g {
	color: #dd4b39;
}
.fa-instagram {
	color: #517fa4;
}
.fa-youtube {
	color: #bb0000;
}
#send {
	border: none;
	border-radius: 2px;
	font-size: 1rem;
}
/*----/footer---*/

@media (max-width: 992px){
	html{
		font-size: 13px;
	}
	.navbar a img{
		height:49px;
	} 
	.slogan{
		font-size: 2.1rem;
	}
	.carousel-caption h1{
		font-size: 3.125rem;
	}
	.product-grid2 img{
	width: 80%!important;
	}
}
@media(max-width: 600px){
	.product-grid2 img{
	width: 70%!important;
	}
}



